<html>
  <h1>
    {{restaurant.name}} Menu
  </h1>
  <body>
    {% if items %}
    {% for i in items %}
    <div>
      <p>
        Name:
        {{i.item_name}}
      </p>
      <p>
        Description:
        {{i.item_description}}
      </p>
      <p>
        Price
        {{i.item_price}}
      </p>
      <a href="/restaurants/{{restaurant.restaurant_id}}/menu/{{i.id}}/edit">Edit Item</a>
      <a href="/restaurants/{{restaurant.restaurant_id}}/menu/{{i.id}}/delete">Delete Item</a>
    </div>
    {% endfor %}
    {% endif %}
    <div>
      <a href="/restaurants/{{restaurant.restaurants_id}}/menu/new">Add New Item to Menu</a>
    </div>
  </body>
</html>