<html>
  <h1>
    Restaurants
  </h1>
  <body>
    {% if restaurants %}
    {% for r in restaurants %}
      <div>
        <p>
          {{ r.name }}
          <a href="/restaurants/{{r.restaurant_id}}/menu">Menu</a>
          <a href="/restaurants/{{r.restaurant_id}}/edit">Edit</a>
          <a href="/restaurants/{{r.restaurant_id}}/delete">Delete</a>
        </p>
      </div>
    {% endfor %}
    {% else %}
    <div>
      There are no restaurants in the database
    </div>
    {% endif %}
    <a href="/restaurants/new">Add New Restaurant</a>
  </body>
</html>